In [1]:
import pandas as pd
import finterstellar as fs

# 종목정보 크롤링

<img src="image_lecture/crawling_05.png">

In [2]:
stock_cd = '005930'
nvr = fs.NaverStockInfo()

In [3]:
nvr.outstanding(stock_cd)

5969782550

In [4]:
nvr.floating(stock_cd)

78.79

In [5]:
nvr.fundamentals(stock_cd, 'PBR')   # 종목코드, 필요한 지표를 입력하면 값을 돌려줌

PER 6.84 12.53
PBR 1.17 1.11
PCR 4.48 5.68
EV/EBITDA 2.17 3.23
EPS 6024 3288
BPS 35342 37277
EBITDA 86019470000000.0 55224340000000.0
현금DPS 1416 1428
현금배당수익률 0.0344 0.0346
회계기준 연결 연결

['1.17', '1.11']

# 주식시세 수집

<img src="image_lecture/crawling_07.png">

In [6]:
# 네이버에서 주식 시세 수집
naver = fs.Naver()

In [7]:
# 한 종목 수집
historical_prices = dict()
stock_cd = '000660'
start_date = '2018-10-1'
end_date = '2018-12-31'
prices = naver.stock_price(historical_prices, stock_cd, start_date, end_date)
prices

{datetime.date(2018, 12, 28): 60500.0,
 datetime.date(2018, 12, 27): 61600.0,
 datetime.date(2018, 12, 26): 60100.0,
 datetime.date(2018, 12, 24): 60400.0,
 datetime.date(2018, 12, 21): 60000.0,
 datetime.date(2018, 12, 20): 58600.0,
 datetime.date(2018, 12, 19): 60300.0,
 datetime.date(2018, 12, 18): 61100.0,
 datetime.date(2018, 12, 17): 62200.0,
 datetime.date(2018, 12, 14): 61800.0,
 datetime.date(2018, 12, 13): 65500.0,
 datetime.date(2018, 12, 12): 66200.0,
 datetime.date(2018, 12, 11): 64900.0,
 datetime.date(2018, 12, 10): 65500.0,
 datetime.date(2018, 12, 7): 66800.0,
 datetime.date(2018, 12, 6): 66000.0,
 datetime.date(2018, 12, 5): 68200.0,
 datetime.date(2018, 12, 4): 69000.0,
 datetime.date(2018, 12, 3): 70500.0,
 datetime.date(2018, 11, 30): 69600.0,
 datetime.date(2018, 11, 29): 71500.0,
 datetime.date(2018, 11, 28): 71900.0,
 datetime.date(2018, 11, 27): 70800.0,
 datetime.date(2018, 11, 26): 70900.0,
 datetime.date(2018, 11, 23): 69300.0,
 datetime.date(2018, 11, 22): 69300.0,
 datetime.date(2018, 11, 21): 68100.0,
 datetime.date(2018, 11, 20): 67500.0,
 datetime.date(2018, 11, 19): 69800.0,
 datetime.date(2018, 11, 16): 70100.0,
 datetime.date(2018, 11, 15): 71800.0,
 datetime.date(2018, 11, 14): 70400.0,
 datetime.date(2018, 11, 13): 71900.0,
 datetime.date(2018, 11, 12): 74500.0,
 datetime.date(2018, 11, 9): 72900.0,
 datetime.date(2018, 11, 8): 72900.0,
 datetime.date(2018, 11, 7): 70800.0,
 datetime.date(2018, 11, 6): 70100.0,
 datetime.date(2018, 11, 5): 70500.0,
 datetime.date(2018, 11, 2): 72600.0,
 datetime.date(2018, 11, 1): 68300.0,
 datetime.date(2018, 10, 31): 68200.0,
 datetime.date(2018, 10, 30): 68200.0,
 datetime.date(2018, 10, 29): 66800.0,
 datetime.date(2018, 10, 26): 67000.0,
 datetime.date(2018, 10, 25): 64700.0,
 datetime.date(2018, 10, 24): 66700.0,
 datetime.date(2018, 10, 23): 69100.0,
 datetime.date(2018, 10, 22): 70000.0,
 datetime.date(2018, 10, 19): 70800.0,
 datetime.date(2018, 10, 18): 68700.0,
 datetime.date(2018, 10, 17): 70400.0,
 datetime.date(2018, 10, 16): 69700.0,
 datetime.date(2018, 10, 15): 70300.0,
 datetime.date(2018, 10, 12): 72400.0,
 datetime.date(2018, 10, 11): 69000.0,
 datetime.date(2018, 10, 10): 70300.0,
 datetime.date(2018, 10, 8): 71200.0,
 datetime.date(2018, 10, 5): 70300.0,
 datetime.date(2018, 10, 4): 70000.0,
 datetime.date(2018, 10, 2): 71700.0,
 datetime.date(2018, 10, 1): 73700.0}

In [8]:
# 여러 종목 수집
'''
005930	삼성전자
000660	SK하이닉스
066570	LG전자
'''
stocks = ['005930', '000660', '066570']

In [9]:
stock_prices = dict()

for stock_cd in stocks:    
    historical_prices = dict()
    historical_prices = naver.stock_price(historical_prices, stock_cd, start_date, end_date)
    stock_prices[stock_cd] = historical_prices    
prices_df = pd.DataFrame(stock_prices)

In [10]:
prices_df.head()

             005930   000660   066570
2018-10-01  46350.0  73700.0  71100.0
2018-10-02  45700.0  71700.0  69900.0
2018-10-04  44700.0  70000.0  69000.0
2018-10-05  44700.0  70300.0  70500.0
2018-10-08  44950.0  71200.0  67800.0

# 국내 지수 수집

<img src="image_lecture/crawling_08.png">

In [11]:
# 국내 지수 수집
historical_indices = dict()
stock_cd = 'KPI200'
start_date = '2018-10-1'
end_date = '2019-12-31'
prices = naver.index_korea(historical_indices, stock_cd, start_date, end_date)
prices

{datetime.date(2019, 5, 17): 264.35,
 datetime.date(2019, 5, 16): 265.99,
 datetime.date(2019, 5, 15): 269.64,
 datetime.date(2019, 5, 14): 268.57,
 datetime.date(2019, 5, 13): 268.72,
 datetime.date(2019, 5, 10): 272.06,
 datetime.date(2019, 5, 9): 271.0,
 datetime.date(2019, 5, 8): 280.15,
 datetime.date(2019, 5, 7): 281.31,
 datetime.date(2019, 5, 3): 283.67,
 datetime.date(2019, 5, 2): 286.12,
 datetime.date(2019, 4, 30): 284.92,
 datetime.date(2019, 4, 29): 286.79,
 datetime.date(2019, 4, 26): 281.34,
 datetime.date(2019, 4, 25): 282.83,
 datetime.date(2019, 4, 24): 283.7,
 datetime.date(2019, 4, 23): 286.47,
 datetime.date(2019, 4, 22): 285.87,
 datetime.date(2019, 4, 19): 285.89,
 datetime.date(2019, 4, 18): 285.82,
 datetime.date(2019, 4, 17): 290.33,
 datetime.date(2019, 4, 16): 290.62,
 datetime.date(2019, 4, 15): 289.38,
 datetime.date(2019, 4, 12): 288.37,
 datetime.date(2019, 4, 11): 287.42,
 datetime.date(2019, 4, 10): 287.92,
 datetime.date(2019, 4, 9): 286.71,
 datetime.date(2019, 4, 8): 286.38,
 datetime.date(2019, 4, 5): 286.68,
 datetime.date(2019, 4, 4): 286.15,
 datetime.date(2019, 4, 3): 285.65,
 datetime.date(2019, 4, 2): 281.72,
 datetime.date(2019, 4, 1): 280.32,
 datetime.date(2019, 3, 29): 276.48,
 datetime.date(2019, 3, 28): 275.08,
 datetime.date(2019, 3, 27): 277.28,
 datetime.date(2019, 3, 26): 277.6,
 datetime.date(2019, 3, 25): 277.45,
 datetime.date(2019, 3, 22): 283.13,
 datetime.date(2019, 3, 21): 282.38,
 datetime.date(2019, 3, 20): 279.92,
 datetime.date(2019, 3, 19): 279.82,
 datetime.date(2019, 3, 18): 279.93,
 datetime.date(2019, 3, 15): 279.87,
 datetime.date(2019, 3, 14): 276.64,
 datetime.date(2019, 3, 13): 276.0,
 datetime.date(2019, 3, 12): 277.73,
 datetime.date(2019, 3, 11): 275.06,
 datetime.date(2019, 3, 8): 274.84,
 datetime.date(2019, 3, 7): 278.87,
 datetime.date(2019, 3, 6): 279.85,
 datetime.date(2019, 3, 5): 280.45,
 datetime.date(2019, 3, 4): 282.51,
 datetime.date(2019, 2, 28): 283.8,
 datetime.date(2019, 2, 27): 288.76,
 datetime.date(2019, 2, 26): 287.89,
 datetime.date(2019, 2, 25): 289.0,
 datetime.date(2019, 2, 22): 288.74,
 datetime.date(2019, 2, 21): 288.41,
 datetime.date(2019, 2, 20): 288.4,
 datetime.date(2019, 2, 19): 284.91,
 datetime.date(2019, 2, 18): 285.9,
 datetime.date(2019, 2, 15): 283.98,
 datetime.date(2019, 2, 14): 288.68,
 datetime.date(2019, 2, 13): 284.97,
 datetime.date(2019, 2, 12): 283.69,
 datetime.date(2019, 2, 11): 282.1,
 datetime.date(2019, 2, 8): 281.49,
 datetime.date(2019, 2, 7): 285.65,
 datetime.date(2019, 2, 1): 285.79,
 datetime.date(2019, 1, 31): 285.89,
 datetime.date(2019, 1, 30): 286.62,
 datetime.date(2019, 1, 29): 283.0,
 datetime.date(2019, 1, 28): 281.64,
 datetime.date(2019, 1, 25): 281.67,
 datetime.date(2019, 1, 24): 276.61,
 datetime.date(2019, 1, 23): 273.87,
 datetime.date(2019, 1, 22): 272.71,
 datetime.date(2019, 1, 21): 274.0,
 datetime.date(2019, 1, 18): 273.88,
 datetime.date(2019, 1, 17): 271.88,
 datetime.date(2019, 1, 16): 271.23,
 datetime.date(2019, 1, 15): 269.93,
 datetime.date(2019, 1, 14): 264.99,
 datetime.date(2019, 1, 11): 267.13,
 datetime.date(2019, 1, 10): 265.55,
 datetime.date(2019, 1, 9): 265.6,
 datetime.date(2019, 1, 8): 259.65,
 datetime.date(2019, 1, 7): 261.57,
 datetime.date(2019, 1, 4): 257.89,
 datetime.date(2019, 1, 3): 255.77,
 datetime.date(2019, 1, 2): 258.23,
 datetime.date(2018, 12, 28): 261.98,
 datetime.date(2018, 12, 27): 260.57,
 datetime.date(2018, 12, 26): 260.98,
 datetime.date(2018, 12, 24): 264.45,
 datetime.date(2018, 12, 21): 265.06,
 datetime.date(2018, 12, 20): 264.81,
 datetime.date(2018, 12, 19): 267.31,
 datetime.date(2018, 12, 18): 265.18,
 datetime.date(2018, 12, 17): 266.33,
 datetime.date(2018, 12, 14): 265.55,
 datetime.date(2018, 12, 13): 269.41,
 datetime.date(2018, 12, 12): 268.47,
 datetime.date(2018, 12, 11): 264.69,
 datetime.date(2018, 12, 10): 265.35,
 datetime.date(2018, 12, 7): 268.28,
 datetime.date(2018, 12, 6): 267.18,
 datetime.date(2018, 12, 5): 271.49,
 datetime.date(2018, 12, 4): 273.29,
 datetime.date(2018, 12, 3): 276.18,
 datetime.date(2018, 11, 30): 271.35,
 datetime.date(2018, 11, 29): 274.16,
 datetime.date(2018, 11, 28): 273.45,
 datetime.date(2018, 11, 27): 272.08,
 datetime.date(2018, 11, 26): 269.79,
 datetime.date(2018, 11, 23): 266.33,
 datetime.date(2018, 11, 22): 267.76,
 datetime.date(2018, 11, 21): 268.27,
 datetime.date(2018, 11, 20): 269.58,
 datetime.date(2018, 11, 19): 272.31,
 datetime.date(2018, 11, 16): 271.65,
 datetime.date(2018, 11, 15): 271.54,
 datetime.date(2018, 11, 14): 268.88,
 datetime.date(2018, 11, 13): 269.7,
 datetime.date(2018, 11, 12): 271.57,
 datetime.date(2018, 11, 9): 271.33,
 datetime.date(2018, 11, 8): 272.11,
 datetime.date(2018, 11, 7): 270.45,
 datetime.date(2018, 11, 6): 271.57,
 datetime.date(2018, 11, 5): 270.07,
 datetime.date(2018, 11, 2): 272.56,
 datetime.date(2018, 11, 1): 262.95,
 datetime.date(2018, 10, 31): 264.01,
 datetime.date(2018, 10, 30): 262.47,
 datetime.date(2018, 10, 29): 260.19,
 datetime.date(2018, 10, 26): 262.69,
 datetime.date(2018, 10, 25): 266.72,
 datetime.date(2018, 10, 24): 271.36,
 datetime.date(2018, 10, 23): 272.54,
 datetime.date(2018, 10, 22): 279.4,
 datetime.date(2018, 10, 19): 278.63,
 datetime.date(2018, 10, 18): 277.48,
 datetime.date(2018, 10, 17): 280.05,
 datetime.date(2018, 10, 16): 276.9,
 datetime.date(2018, 10, 15): 277.19,
 datetime.date(2018, 10, 12): 279.37,
 datetime.date(2018, 10, 11): 275.15,
 datetime.date(2018, 10, 10): 287.85,
 datetime.date(2018, 10, 8): 289.91,
 datetime.date(2018, 10, 5): 291.28,
 datetime.date(2018, 10, 4): 291.78,
 datetime.date(2018, 10, 2): 296.53,
 datetime.date(2018, 10, 1): 300.17}

In [12]:
# 여러 지수 수집
indices_korea = ['KPI200', 'KOSPI', 'KOSDAQ']

In [13]:
historical_indices = dict()

for stock_cd in indices_korea:    
    historical_prices = dict()
    historical_prices = naver.index_korea(historical_prices, stock_cd, start_date, end_date)
    historical_indices[stock_cd] = historical_prices    
prices_df = pd.DataFrame(historical_indices)

In [14]:
prices_df.head()

            KPI200    KOSPI  KOSDAQ
2018-10-01  300.17  2338.88  816.53
2018-10-02  296.53  2309.57  794.99
2018-10-04  291.78  2274.49  789.00
2018-10-05  291.28  2267.52  773.70
2018-10-08  289.91  2253.83  767.15

# 해외 지수 수집

<img src="image_lecture/crawling_09.png">

In [15]:
# 한 종목 수집
historical_index = dict()
index_cd = 'SPI@SPX'
start_date = '2018-10-1'
end_date = '2019-12-31'
historical_index = naver.index_global(historical_index, index_cd, start_date, end_date)
historical_index

{datetime.date(2019, 5, 17): 2859.53,
 datetime.date(2019, 5, 16): 2876.32,
 datetime.date(2019, 5, 15): 2850.96,
 datetime.date(2019, 5, 14): 2834.41,
 datetime.date(2019, 5, 13): 2811.87,
 datetime.date(2019, 5, 10): 2881.4,
 datetime.date(2019, 5, 9): 2870.72,
 datetime.date(2019, 5, 8): 2879.42,
 datetime.date(2019, 5, 7): 2884.05,
 datetime.date(2019, 5, 6): 2932.47,
 datetime.date(2019, 5, 3): 2945.64,
 datetime.date(2019, 5, 2): 2917.52,
 datetime.date(2019, 5, 1): 2923.73,
 datetime.date(2019, 4, 30): 2945.83,
 datetime.date(2019, 4, 29): 2943.03,
 datetime.date(2019, 4, 26): 2939.88,
 datetime.date(2019, 4, 25): 2926.17,
 datetime.date(2019, 4, 24): 2927.25,
 datetime.date(2019, 4, 23): 2933.68,
 datetime.date(2019, 4, 22): 2907.97,
 datetime.date(2019, 4, 18): 2905.03,
 datetime.date(2019, 4, 17): 2900.45,
 datetime.date(2019, 4, 16): 2907.06,
 datetime.date(2019, 4, 15): 2905.58,
 datetime.date(2019, 4, 12): 2907.41,
 datetime.date(2019, 4, 11): 2888.32,
 datetime.date(2019, 4, 10): 2888.21,
 datetime.date(2019, 4, 9): 2878.2,
 datetime.date(2019, 4, 8): 2895.77,
 datetime.date(2019, 4, 5): 2892.74,
 datetime.date(2019, 4, 4): 2879.39,
 datetime.date(2019, 4, 3): 2873.4,
 datetime.date(2019, 4, 2): 2867.24,
 datetime.date(2019, 4, 1): 2867.19,
 datetime.date(2019, 3, 29): 2834.4,
 datetime.date(2019, 3, 28): 2815.44,
 datetime.date(2019, 3, 27): 2805.37,
 datetime.date(2019, 3, 26): 2818.46,
 datetime.date(2019, 3, 25): 2798.36,
 datetime.date(2019, 3, 22): 2800.71,
 datetime.date(2019, 3, 21): 2854.88,
 datetime.date(2019, 3, 20): 2824.23,
 datetime.date(2019, 3, 19): 2832.57,
 datetime.date(2019, 3, 18): 2832.94,
 datetime.date(2019, 3, 15): 2822.48,
 datetime.date(2019, 3, 14): 2808.48,
 datetime.date(2019, 3, 13): 2810.92,
 datetime.date(2019, 3, 12): 2791.52,
 datetime.date(2019, 3, 11): 2783.3,
 datetime.date(2019, 3, 8): 2743.07,
 datetime.date(2019, 3, 7): 2748.93,
 datetime.date(2019, 3, 6): 2771.45,
 datetime.date(2019, 3, 5): 2789.65,
 datetime.date(2019, 3, 4): 2792.81,
 datetime.date(2019, 3, 1): 2803.69,
 datetime.date(2019, 2, 28): 2784.49,
 datetime.date(2019, 2, 27): 2792.38,
 datetime.date(2019, 2, 26): 2793.9,
 datetime.date(2019, 2, 25): 2796.11,
 datetime.date(2019, 2, 22): 2792.67,
 datetime.date(2019, 2, 21): 2774.88,
 datetime.date(2019, 2, 20): 2784.7,
 datetime.date(2019, 2, 19): 2779.76,
 datetime.date(2019, 2, 15): 2775.6,
 datetime.date(2019, 2, 14): 2745.73,
 datetime.date(2019, 2, 13): 2753.03,
 datetime.date(2019, 2, 12): 2744.73,
 datetime.date(2019, 2, 11): 2709.8,
 datetime.date(2019, 2, 8): 2707.88,
 datetime.date(2019, 2, 7): 2706.05,
 datetime.date(2019, 2, 6): 2731.61,
 datetime.date(2019, 2, 5): 2737.7,
 datetime.date(2019, 2, 4): 2724.87,
 datetime.date(2019, 2, 1): 2706.53,
 datetime.date(2019, 1, 31): 2704.1,
 datetime.date(2019, 1, 30): 2681.05,
 datetime.date(2019, 1, 29): 2640.0,
 datetime.date(2019, 1, 28): 2643.85,
 datetime.date(2019, 1, 25): 2664.76,
 datetime.date(2019, 1, 24): 2642.33,
 datetime.date(2019, 1, 23): 2638.7,
 datetime.date(2019, 1, 22): 2632.9,
 datetime.date(2019, 1, 18): 2670.71,
 datetime.date(2019, 1, 17): 2635.96,
 datetime.date(2019, 1, 16): 2616.1,
 datetime.date(2019, 1, 15): 2610.3,
 datetime.date(2019, 1, 14): 2582.61,
 datetime.date(2019, 1, 11): 2596.26,
 datetime.date(2019, 1, 10): 2596.64,
 datetime.date(2019, 1, 9): 2584.96,
 datetime.date(2019, 1, 8): 2574.41,
 datetime.date(2019, 1, 7): 2549.69,
 datetime.date(2019, 1, 4): 2531.94,
 datetime.date(2019, 1, 3): 2447.89,
 datetime.date(2019, 1, 2): 2510.03,
 datetime.date(2018, 12, 31): 2506.85,
 datetime.date(2018, 12, 28): 2485.74,
 datetime.date(2018, 12, 27): 2488.83,
 datetime.date(2018, 12, 26): 2467.7,
 datetime.date(2018, 12, 24): 2351.1,
 datetime.date(2018, 12, 21): 2416.62,
 datetime.date(2018, 12, 20): 2467.42,
 datetime.date(2018, 12, 19): 2506.96,
 datetime.date(2018, 12, 18): 2546.16,
 datetime.date(2018, 12, 17): 2545.94,
 datetime.date(2018, 12, 14): 2599.95,
 datetime.date(2018, 12, 13): 2650.54,
 datetime.date(2018, 12, 12): 2651.07,
 datetime.date(2018, 12, 11): 2636.78,
 datetime.date(2018, 12, 10): 2637.72,
 datetime.date(2018, 12, 7): 2633.08,
 datetime.date(2018, 12, 6): 2695.95,
 datetime.date(2018, 12, 4): 2700.06,
 datetime.date(2018, 12, 3): 2790.37,
 datetime.date(2018, 11, 30): 2760.17,
 datetime.date(2018, 11, 29): 2737.76,
 datetime.date(2018, 11, 28): 2743.79,
 datetime.date(2018, 11, 27): 2682.17,
 datetime.date(2018, 11, 26): 2673.45,
 datetime.date(2018, 11, 23): 2632.56,
 datetime.date(2018, 11, 21): 2649.93,
 datetime.date(2018, 11, 20): 2641.89,
 datetime.date(2018, 11, 19): 2690.73,
 datetime.date(2018, 11, 16): 2736.27,
 datetime.date(2018, 11, 15): 2730.2,
 datetime.date(2018, 11, 14): 2701.58,
 datetime.date(2018, 11, 13): 2722.18,
 datetime.date(2018, 11, 12): 2726.22,
 datetime.date(2018, 11, 9): 2781.01,
 datetime.date(2018, 11, 8): 2806.83,
 datetime.date(2018, 11, 7): 2813.89,
 datetime.date(2018, 11, 6): 2755.45,
 datetime.date(2018, 11, 5): 2738.31,
 datetime.date(2018, 11, 2): 2723.06,
 datetime.date(2018, 11, 1): 2740.37,
 datetime.date(2018, 10, 31): 2711.74,
 datetime.date(2018, 10, 30): 2682.63,
 datetime.date(2018, 10, 29): 2641.25,
 datetime.date(2018, 10, 26): 2658.69,
 datetime.date(2018, 10, 25): 2705.57,
 datetime.date(2018, 10, 24): 2656.1,
 datetime.date(2018, 10, 23): 2740.69,
 datetime.date(2018, 10, 22): 2755.88,
 datetime.date(2018, 10, 19): 2767.78,
 datetime.date(2018, 10, 18): 2768.78,
 datetime.date(2018, 10, 17): 2809.21,
 datetime.date(2018, 10, 16): 2809.92,
 datetime.date(2018, 10, 15): 2750.79,
 datetime.date(2018, 10, 12): 2767.13,
 datetime.date(2018, 10, 11): 2728.37,
 datetime.date(2018, 10, 10): 2785.68,
 datetime.date(2018, 10, 9): 2880.34,
 datetime.date(2018, 10, 8): 2884.43,
 datetime.date(2018, 10, 5): 2885.57,
 datetime.date(2018, 10, 4): 2901.61,
 datetime.date(2018, 10, 3): 2925.51,
 datetime.date(2018, 10, 2): 2923.43,
 datetime.date(2018, 10, 1): 2924.59}

In [16]:
# 여러 지수 수집
indices = {
    #'SHS@000001' : '상해종합',
    'SPI@SPX' : 'S&P 500', 
    #'NAS@NDX' : 'Nasdaq 100', 
    'NII@NI225' : 'Nikkei 225'
}

In [17]:
historical_indices = dict()
for key, value in indices.items(): 
    s = dict()
    s = naver.index_global(s, key)
    historical_indices[value] = s    
prices_df = pd.DataFrame(historical_indices)
prices_df.head()

            S&P 500  Nikkei 225
2018-05-21  2733.01    23002.37
2018-05-22  2724.44    22960.34
2018-05-23  2733.29    22689.74
2018-05-24  2727.76    22437.01
2018-05-25  2721.33    22450.79

    'LNS@FTSE100' : '영국 FTSE 100'
    'HSI@HSI' : '홍콩 Hang Seng'