In [1]:
import pandas as pd
import finterstellar as fs

In [2]:
# define universe
portfolio_dict = dict()
portfolio = {
    'World indices' : ['KOSPI 200', 'S&P 500', 'Nikkei 225', 'CSI 300']
}    # 포트폴리오를 딕셔너리 형태로 저장
p_name = 'World indices'   # 포트폴리오 집합 중 분석대상 포트폴리오의 이름 입력
p_cd = portfolio[p_name]    # 선택한 포트폴리오 내에서 처리대상 종목코드들을 지정

In [3]:
ld = fs.LoadData()
path = './data/'

In [4]:
# make new file
prices_df = ld.create_portfolio_df(path, p_name, p_cd) 
# ld 모듈의 create_portfolio_df(폴더명, 포트폴리오 이름, 종목코드) 함수를 이용해 포트폴리오 전체 시세를 한번에 수집
prices_df.tail()

Updating master file

            KOSPI 200  S&P 500  Nikkei 225  CSI 300
Date
2019-04-09     286.71  2878.20    21802.59  4075.43
2019-04-10     286.71  2888.21    21802.59  4075.43
2019-04-11     286.71  2888.32    21802.59  4075.43
2019-04-12     286.71  2907.41    21802.59  4075.43
2019-04-15     286.71  2905.58    21802.59  4075.43

In [5]:
base_date = '2018-01-01'
price_df = prices_df[base_date:].copy()
price_df.tail()

            KOSPI 200  S&P 500  Nikkei 225  CSI 300
Date
2019-04-09     286.71  2878.20    21802.59  4075.43
2019-04-10     286.71  2888.21    21802.59  4075.43
2019-04-11     286.71  2888.32    21802.59  4075.43
2019-04-12     286.71  2907.41    21802.59  4075.43
2019-04-15     286.71  2905.58    21802.59  4075.43

In [6]:
ckd = fs.CheckDate()
anz = fs.PairTrade()

In [7]:
# 기준일자 세팅
#base_date = '2018-01-01'
base_date = pd.Timestamp.today().date() - pd.DateOffset(years=1)    # 디폴트로 1년 전 세팅
base_date = ckd.check_base_date(price_df, base_date)
# check_base_date(데이터프레임, 기준일자) - 기준일자가 공휴일인지 체크하고, 공휴일이면 다음 영업일을 반환
base_date

Timestamp('2018-04-23 00:00:00')

In [8]:
crs = anz.compare_r2(price_df, base_date, p_cd)
crs.head(10)

                             R2    Slope  Correlation
pair
S&P 500 vs. Nikkei 225    47.82   5.9615     0.691531
KOSPI 200 vs. Nikkei 225  42.89  37.1982     0.654936
KOSPI 200 vs. CSI 300     41.30  11.1773     0.642651
KOSPI 200 vs. S&P 500     14.74   2.5296     0.383947
S&P 500 vs. CSI 300       14.58   1.0082     0.381897
Nikkei 225 vs. CSI 300     9.97   0.0967     0.315809