In [1]:
import pandas as pd
import finterstellar as fs

데이터 로딩

In [2]:
coin = fs.CoinPrice()

In [3]:
p_cd = ['BTC', 'ETH', 'XRP', 'BCH']

In [4]:
prices_df = pd.DataFrame()
for cd in p_cd:
    df = coin.bithumb_historical_price(coin_cd=cd, freq='M')
    prices_df[cd] = df['close']
prices_df.head()

                           BTC       ETH    XRP       BCH
2019-04-20 16:57:00  6142000.0  201600.0  389.0  352300.0
2019-04-20 16:58:00  6137000.0  201500.0  388.0  352500.0
2019-04-20 17:00:00  6141000.0  201500.0  389.0       NaN
2019-04-20 17:01:00  6142000.0  201600.0  389.0  352800.0
2019-04-20 17:02:00  6147000.0  201600.0  388.0  352700.0

In [5]:
prices_df = prices_df.fillna(method='ffill')
prices_df = prices_df.dropna()
prices_df.head()

                           BTC       ETH    XRP       BCH
2019-04-20 16:57:00  6142000.0  201600.0  389.0  352300.0
2019-04-20 16:58:00  6137000.0  201500.0  388.0  352500.0
2019-04-20 17:00:00  6141000.0  201500.0  389.0  352500.0
2019-04-20 17:01:00  6142000.0  201600.0  389.0  352800.0
2019-04-20 17:02:00  6147000.0  201600.0  388.0  352700.0

In [6]:
anz = fs.PairTrade()

In [7]:
base_date = prices_df.index[0]

In [8]:
crs = anz.compare_r2(prices_df, base_date, p_cd)
crs.head(10)

                R2      Slope  Correlation
pair
XRP vs. BCH  56.74  1072.7162     0.753236
ETH vs. XRP  50.57     0.0012     0.711102
ETH vs. BCH  47.87     1.6352     0.691891
BTC vs. BCH   5.45    -0.0275    -0.233448
BTC vs. ETH   5.29     0.0115     0.229944
BTC vs. XRP   1.29    -0.0000    -0.113523