In [1]:
import pandas as pd
import numpy as np   # 수학계산용 라이브러리

In [2]:
df = pd.read_excel('./data/KOSPI200 F 201712.xlsx', 'Sheet1', index_col='일자')
df.head()

              선물가격      지수
일자
2017-09-01  308.40  307.78
2017-09-04  305.60  304.19
2017-09-05  304.85  304.06
2017-09-06  304.30  303.18
2017-09-07  308.10  306.97

In [3]:
type(df.index)
# 인덱스가 날짜타입으로 되어있는지 확인 -> 날짜타입이 아니므로 변환 필요

pandas.core.indexes.base.Index

In [4]:
df.index = pd.to_datetime(df.index)
# 인덱스를 날짜타입으로 변환

In [5]:
type(df.index)
# 인덱스가 날짜타입으로 되어있는지 확인 -> OK

pandas.core.indexes.datetimes.DatetimeIndex

In [6]:
def futures_price (S, r, d, T, t0):   # (기초자산가격, 이자율, 배당률, 만기일, 오늘날짜)
    t = np.busday_count(t0.date(), T.date()) / 252   # 잔존만기 = (오늘-만기일)/252일
    F = S * np.exp((r-d)*t)    # 선물 이론가 공식
    return F

In [7]:
T = pd.to_datetime('2017-12-14')     # 최종거래일(만기일)
r = 0.0225     # 이자율
d = 0.010     # 배당률
for n in (df.index):
    t0 = n    # 오늘날짜 = 인덱스에서 받아온 값
    S = df.loc[n, '지수']    # 기초자산 가격 = 읽어온 지수
    F = futures_price(S, r, d, T, t0)   # futures_price() 함수 호출
    f = '{:,.2f}'.format(F)    # 구한 값을 소수점 둘째자리 반올림
    df.loc[n, '이론가1'] = f     # 계산 결과를 이론가1 컬럼에 저장

In [8]:
df.head()

              선물가격      지수    이론가1
일자
2017-09-01  308.40  307.78  308.91
2017-09-04  305.60  304.19  305.29
2017-09-05  304.85  304.06  305.15
2017-09-06  304.30  303.18  304.25
2017-09-07  308.10  306.97  308.04

In [9]:
def futures_price_simple (S, r, d, T, t0):
    t = (T - t0).days / 365     # 잔존만기 = (오늘-만기일)/365일
    F = S * (1 + (r-d) * t)     # 간단공식
    return F

In [10]:
T = pd.to_datetime('2017-12-14')     # 최종거래일
r = 0.0225     # 이자율
d = 0.010     # 배당률
for n in (df.index):
    t0 = n     
    S = df.loc[n, '지수']
    F = futures_price_simple (S, r, d, T, t0)
    f = '{:,.2f}'.format(F)
    df.loc[n, '이론가2'] = f

In [11]:
df

              선물가격      지수    이론가1    이론가2
일자
2017-09-01  308.40  307.78  308.91  308.88
2017-09-04  305.60  304.19  305.29  305.24
2017-09-05  304.85  304.06  305.15  305.10
2017-09-06  304.30  303.18  304.25  304.21
2017-09-07  308.10  306.97  308.04  308.00
2017-09-08  308.35  307.43  308.48  308.45
2017-09-11  311.50  309.83  310.88  310.83
2017-09-12  311.45  310.42  311.45  311.41
2017-09-13  310.85  310.00  311.02  310.98
2017-09-14  313.60  312.52  313.53  313.49
2017-09-15  314.55  313.69  314.69  314.66
2017-09-18  320.05  318.93  319.93  319.88
2017-09-19  319.40  318.51  319.49  319.45
2017-09-20  319.15  318.48  319.45  319.41
2017-09-21  319.40  318.25  319.20  319.17
2017-09-22  317.10  316.71  317.64  317.61
2017-09-25  317.15  316.40  317.31  317.27
2017-09-26  315.15  314.29  315.18  315.14
2017-09-27  314.75  313.82  314.69  314.66
2017-09-28  314.95  313.85  314.71  314.68
2017-09-29  317.65  316.27  317.12  317.09
2017-10-10  323.50  322.49  323.24  323.21
2017-10-11  326.60  326.12  326.86  326.83
2017-10-12  329.00  328.11  328.84  328.82
2017-10-13  328.65  327.35  328.07  328.05
2017-10-16  328.85  327.82  328.52  328.48
2017-10-17  329.15  328.51  329.20  329.16
2017-10-18  329.20  328.40  329.07  329.04
2017-10-19  327.45  326.47  327.12  327.10
2017-10-20  329.60  328.89  329.53  329.51
...            ...     ...     ...     ...
2017-11-03  339.70  338.83  339.32  339.31
2017-11-06  337.50  337.40  337.87  337.84
2017-11-07  337.10  336.76  337.21  337.19
2017-11-08  338.60  337.80  338.24  338.22
2017-11-09  337.00  337.14  337.56  337.54
2017-11-10  336.25  335.96  336.36  336.35
2017-11-13  334.90  334.33  334.71  334.68
2017-11-14  334.65  333.62  333.98  333.96
2017-11-15  332.50  332.17  332.52  332.50
2017-11-16  334.65  334.36  334.69  334.68
2017-11-17  334.30  334.18  334.50  334.49
2017-11-20  332.80  332.92  333.22  333.19
2017-11-21  334.20  333.51  333.79  333.77
2017-11-22  335.90  335.49  335.76  335.74
2017-11-23  334.80  334.51  334.76  334.75
2017-11-24  335.60  335.44  335.67  335.67
2017-11-27  329.25  329.53  329.74  329.72
2017-11-28  331.05  330.99  331.19  331.17
2017-11-29  331.05  330.68  330.86  330.85
2017-11-30  325.60  325.25  325.41  325.41
2017-12-01  325.20  324.78  324.93  324.92
2017-12-04  328.35  328.77  328.90  328.88
2017-12-05  329.95  329.61  329.72  329.71
2017-12-06  325.00  324.52  324.62  324.61
2017-12-07  324.05  323.59  323.67  323.67
2017-12-08  324.75  324.68  324.74  324.75
2017-12-11  324.85  325.09  325.14  325.12
2017-12-12  323.80  324.07  324.10  324.09
2017-12-13  326.20  326.18  326.20  326.19
2017-12-14  327.65  324.74  324.74  324.74

[69 rows x 4 columns]